@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

@theme {
  --font-sans: "Courier Prime", "Courier New", Courier, monospace;
  --font-mono: "Courier Prime", "Courier New", Courier, monospace;

  --color-min-bg: #171717; /* Dark gray background default */
  --color-min-ink: #e5e5e5;
  --color-min-dim: #404040;
  --color-min-alert: #a3a3a3;
}

* {
  font-family: var(--font-mono) !important;
}

body {
  background-color: var(--color-min-bg);
  color: var(--color-min-ink);
  margin: 0;
  overflow-y: auto;
}

input[type="range"] {
  appearance: none;
  background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px; /* Thicker track */
  background: currentColor;
}

input[type="range"]::-webkit-slider-thumb {
  height: 18px; /* Bigger thumb */
  width: 18px;
  border-radius: 0;
  background: currentColor;
  cursor: pointer;
  appearance: none;
  margin-top: -8px;
}
